:root {
  --primary-color: #2500f9;
  --sec-color: #242f51;
  --red-color: #f55767;
  --blue-color: #2563ff;
  --green-color: #40975f;
  --yellow-color: #feaa25;
  --para-color: #616368;
  --para-light-color: #ebebeb;
  --section-color: #f9fbfc;
}
